/* frontend/src/index.css */

/* Define la fuente global 'Mulish' que importamos 
  en index.html y un color de fondo blanco por defecto.
*/
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: #FFFFFF;
  color: #213547; /* Un color de texto oscuro por defecto */
}

/* Una buena práctica para que el padding y 
  border no afecten el tamaño de las cajas.
*/
* {
  box-sizing: border-box;
}

/* Hacemos que los inputs y botones 
  hereden la fuente 'Mulish' automáticamente.
*/
button,
input {
  font-family: inherit;
}