/* frontend/src/index.css */

/* Define la fuente global 'Mulish' que importamos 
  en index.html y un color de fondo blanco por defecto.
*/
body {
  margin: 0;
  font-family: 'Mulish', sans-serif;
  background-color: #FFFFFF;
  color: #213547; /* Un color de texto oscuro por defecto */
}

/* Una buena práctica para que el padding y 
  border no afecten el tamaño de las cajas.
*/
* {
  box-sizing: border-box;
}

/* Hacemos que los inputs y botones 
  hereden la fuente 'Mulish' automáticamente.
*/
button,
input {
  font-family: inherit;
}

/* ... (tu código existente de 'body', '*', etc. va aquí arriba) ... */


/* --- Oculta el ícono de 'ver contraseña' predeterminado del navegador --- */

/* Para Chrome, Safari, Edge (basado en WebKit) */
input[type="password"]::-webkit-reveal,
input[type="password"]::-webkit-password-reveal-button {
  display: none;
  -webkit-appearance: none;
}

/* Para Microsoft Edge (versión antigua) */
input[type="password"]::-ms-reveal {
  display: none;
}